.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

body {
  font-family: sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.change-page {
  padding: 4px 9px;
  margin-right: 4px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

.pagination {
  text-decoration-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  background-color: lightblue;
  cursor: pointer;
  list-style: none;
  padding: 2% 2%;
  list-style: none;
  font-size: .875em;
}

.pagination__link {
  display: inline-block;
  padding: 4px 9px;
  margin-right: 4px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  background: white;
  
}

.pagination__link--active {
  display: inline-block;
  padding: 4px 9px;
  margin-right: 4px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  background: white;
}

.to-link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}